<div class="flex flex-column align-items-center gap-4 lg:mb-8">
	<div class="mb-3">
		<h2>Crear una nueva contraseña</h2>
	</div>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="flex flex-column gap-4">
			<span class="p-input-icon-left w-full">
				<i class="pi pi-user"></i>
				<input
					autocomplete="off"
					class="w-full md:w-25rem"
					formControlName="fullname"
					id="fullname"
					type="text"
					pInputText
					placeholder="Nombres y Apellidos"
					readonly="true" />
			</span>

			<span class="p-input-icon-left w-full">
				<i class="pi pi-lock z-2"></i>
				<p-password
					formControlName="password"
					inputId="password"
					inputStyleClass="w-full md:w-25rem "
					placeholder="Ingrese nueva contraseña"
					styleClass="w-full"
					[feedback]="false"
					[inputStyle]="{ paddingLeft: '2.5rem' }"
					[toggleMask]="true"
					[class.ng-dirty]="form.get('password')?.touched && form.get('password')?.invalid" />
			</span>

			<span class="p-input-icon-left w-full">
				<i class="pi pi-lock z-2"></i>
				<p-password
					formControlName="confirmPassword"
					inputId="confirmPassword"
					inputStyleClass="w-full md:w-25rem "
					placeholder="Confirme nueva contraseña"
					styleClass="w-full"
					[feedback]="false"
					[inputStyle]="{ paddingLeft: '2.5rem' }"
					[toggleMask]="true"
					[class.ng-dirty]="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid" />
			</span>
			<div class="flex flex-wrap gap-2 justify-content-between">
				<button
					pButton
					pRipple
					label="CANCELAR"
					class="flex-auto p-button-outlined"
					type="button"
					[routerLink]="['/']"></button>
				<button pButton pRipple label="CONTINUAR" class="flex-auto" type="submit" [disabled]="form.invalid"></button>
			</div>
		</div>
	</form>
	<div class="text-justify">
		@if (form.get('password')?.hasError('password') && form.get('password')?.touched) {
			<span class="p-error block">
				La contraseña debe tener mínimo 8 caracteres entre letras mayúsculas, minúsculas, simbolos y números.
			</span>
		}
		@if (form.errors?.['passwordMatching'] && form.get('confirmPassword')?.touched) {
			<span class="p-error block">Las contraseñas escritas no coinciden.</span>
		}
	</div>
</div>
