<div class="flex flex-column align-items-center gap-4 lg:mb-8">
	<div class="mb-3">
		<h2>Has olvidado tu contraseña</h2>
		<p>Ingresa tu usuario para restablecer tu contraseña</p>
	</div>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="flex flex-column">
			<span class="p-input-icon-left w-full md:w-25rem">
				<i class="pi pi-user"></i>
				<input
					autocomplete="off"
					class="w-full md:w-25rem"
					formControlName="username"
					id="username"
					pKeyFilter="int"
					maxlength="10"
					pInputText
					placeholder="Ingrese su número de cedula"
					type="text"
					[class.ng-dirty]="form.get('username')?.touched && form.get('username')?.invalid" />
			</span>
			<br />
			<div class="flex flex-wrap gap-3 justify-content-between">
				<button
					class="flex-auto p-button-outlined"
					label="CANCELAR"
					pButton
					pRipple
					[routerLink]="['/']"
					type="button"></button>
				<button class="flex-auto" label="CONTINUAR" pButton pRipple type="submit" [disabled]="form.invalid"></button>
			</div>
		</div>
	</form>
</div>
